doctype html
html
  head
    // favicon
    link(rel='icon' href='images/PP.png' type='image/png' sizes='48 X 48')  
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

