
doctype html
head
  title SE
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // favicon
  link(rel='icon' href='images/PP.png' type='image/png' sizes='48 X 48')
  // favicon
  // font-awesome and others
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  // font-awesome end
  // google fonts
  link(href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet')
  // google fonts
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  // Bootstrap end
  style(type='text/css').
    /*for navbar and header*/
    .header{
    background: url("https://images.squarespace-cdn.com/content/v1/56a84fd8bfe873f5795817a8/1520313362889-PRHZNZKQ2TTVFQ23PRNJ/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/2017-0417_Lightbox%E7%A9%BA%E9%96%93%E7%85%A7-4.jpg?format=2500w") center center fixed;
    color: #FFF;
    height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
    }
    .header .overlay{
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }
    .header .navbar-default {
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
    }
    .header .navbar-default {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    }
    .header .navbar-default .navbar-nav>li>a {
    font-size:20px;
    color:#fff;
    border-bottom: 1px solid transparent;
    text-align: right;
    padding: 25px;
    }
    .header .navbar-default .navbar-nav>li:hover a{
    color: #FFC34C;
    border-bottom: 2px solid #FFC34C;
    }
    .header .navbar-toggle {
    margin:5px 0;
    background:#fff;
    color:#FFC34C;
    }
    /*for navbar and header end*/
    .child{
    position: relative;
    bottom: 2vw;
    }
    .activelink{
    text-decoration: none;
    border-bottom: 2px solid;
    color: #FFC34C;
    }
    .eyecatch{
    font-family: 'Amatic SC';
    font-size:5vw;
    letter-spacing: 8px;
    }
    .sub{
    font-size: 3vw;
    }
    .mycontainer{
    margin-top: 5%;
    }
    .zoom:hover  {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 1px;
    /*color: black;*/
    opacity: 1;
    background-color: none;
    width: 90%;
    }
    /* for modal buttons */
    .modal-btnsignup{
    background-color: #FFC34C;
    color: #FFF;
    }
    .modal-btnlogin{
    background-color: #77D5D5;
    color: #FFF;
    }
// navbar and header starts
section.header
  .overlay
    .cont
      include ./navbar            
    .container.mycontainer.p-5.border
      .row
        h4.eyecatch.m-auto SE BOOKS
      .container-fluid.table-responsive
      table.table.text-white
        thead
          tr
            th(scope='col') Book Name
            th(scope='col') Author
            th(scope='col') Department 
            th(scope='col') Download                               
        tbody
            each newbook in books
                tr               
                    td=newbook.bookname
                    td=newbook.authorname
                    td=newbook.depname
                    td
                        a.fa.fa-download(style='font-size:36px;color:#FFC34C' href=newbook.book)                

  // overlay ends
// header ends
// navbar and header ends

